body {
    main {
        max-width: 1440px; /* Mobile */
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 25px;
        padding-right: 25px;

        .main-content {
            .article-content {
                /* Graphiken in content section */
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                    width: 280px;
                    margin: 20px;
                }

                .graph-container {
                    .graph-container-left,
                    .graph-container-right {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        /* p {
                   
                        width: 280px;
                    } */

                        /* justify-content: center;  */
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 512px) {
    body {
        main {
            .main-content {
                .article-content {
                    img {
                        width: 450px;
                    }

                    .graph-container {
                        .graph-container-left,
                        .graph-container-right {
                            p {
                                /* height: 120px; */
                                width: 420px;
                            }

                            img {
                                width: 450px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Zwei Graphiken nebeneinander platzieren */
@media screen and (min-width: 769px) {
    body {
        main {
            .main-content {
                .article-content {
                    img {
                        width: 700px;
                    }

                    .graph-container {
                        display: flex;

                        .graph-container-left,
                        .graph-container-right {
                            p {
                                height: 220px;
                                width: 320px;
                            }

                            img {
                                width: 350px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Zwei Graphiken nebeneinander platzieren */
@media screen and (min-width: 1100px) {
    body {
        main {
            .main-content {
                .article-content {
                    img {
                        width: 820px;
                    }

                    .graph-container {
                        .graph-container-left,
                        .graph-container-right {
                            p {
                                height: 180px;
                                width: 500px;
                            }

                            img {
                                width: 520px;
                            }
                        }
                    }
                }
            }
        }
    }
}
