body {
    main {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 10px;
        padding-right: 10px;

        content {
            /* ------------------------------------------------------------------------------------- */

            /* .textarea {
                /* display: flex;
                justify-content: center; */
            /* .text {
                    height: 209px;
                    width: 343px;

                    p {
                        font-family: Palanquin;
                        color: rgba(84, 55, 13, 1);

                        line-height: 1.2;
                    }
                } */

            .list-sec {
                display: flex;
                justify-content: center;
            }

            .list {
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 341px;
                width: 343px;

                p {
                    font-family: Palanquin;
                    color: rgba(84, 55, 13, 1);
                    line-height: 1.2;
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
            }

            .list-ol {
                padding: 15px 25px 15px 25px;
            }

            li {
                font-family: Palanquin;
                line-height: 1.2;
                color: rgba(84, 55, 13, 1);
            }

            .mini-box {
                margin-top: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 196px;
                height: 66px;
                background-color: rgba(78, 164, 135, 1);
                border-radius: 10px;
                transform: rotate(-12deg);
                .light {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                }
                p {
                    font-weight: bold;
                    font-size: 28px;
                    color: rgba(241, 201, 83, 1);
                }
            }

            .big-box {
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: rgba(78, 164, 135, 0.2);
                border-radius: 30px;
                margin-bottom: 25px;
                .box-text {
                    padding: 10px;
                    text-align: center;
                    font-family: "Palanquin";
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 1.2;
                    color: rgba(84, 55, 13, 1);
                    text-align: start;
                    padding: 30px;
                }
                .box-fett {
                    color: rgba(78, 164, 135, 1);
                    font-weight: bold;
                }
            }

            .bold {
                font-weight: bold;
            }

            .lorem {
                margin-bottom: 50px;
                display: flex;
                justify-content: center;

                p {
                    height: 342px;
                    width: 343px;
                    font-family: Palanquin;
                    color: rgba(84, 55, 13, 1);
                }
            }

            /* ------------------------------------------------------------------------------------- */

            /* @media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
    .mini-box {
        top: 50px;
    }

    .big-box {
        margin-top: 50px;
    }

    .follow-me-section {
        margin-top: 270px;
    }



}

@media screen and (min-width: 1440px) {
} */
        }
    }
}
