body {
    main {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 10px;
        padding-right: 10px;

        .main-content {
            /* ------------------------------------------------------------------------------------- */

            body {
                display: flex;
                align-items: center;
                justify-content: center;

                height: 100dvh;
            }
            .photo-slider {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                overflow: hidden;
            }
            .slider-a {
                position: relative;
                width: 200px;
                height: 350px;

                display: flex;
                justify-content: center;
                align-items: flex-end;

                /* overflow: hidden; */
            }

            .slider-a input {
                z-index: 2;
                margin: 5px;
            }

            .slider-a-wrapper {
                width: 500%; /* Weil DREI Bilder/Elemnte drin sind, wären es 5, dann 500% */
                height: 100%;

                position: absolute; /* Macht nur Sinn, wenn der Slider position: relative; hat */
                left: 0;
                display: flex;

                transition: all 1s ease-in-out;
            }

            .slider-a-element {
                transition:
                    transform 1s ease,
                    opacity 0.4s ease-in-out;
            }

            .slider-a-element {
                width: calc(
                    100% / 5
                ); /* Breite bezieht sich auf 300%-wrapper-width und diese 
                auf die 250px slider width */
                height: 100%;
                padding-bottom: 50px;
            }

            /* Wenn das Input-Feld mit dem Wert "one" checked ist, dann soll das Geschwister-
            Element slider-a-wrapper auf der x-achse (translateX) in diesem Fall um ein Drittele
            der Gesamtbreite transfomiert (verschoben) werden. Die Gesamtbreite wurde mit overflow: hidden;
            versteckt.  */
            .slider-a input[value="one"]:checked ~ .slider-a-wrapper {
                transform: translateX(0);

                .element-two {
                    transform: perspective(300px) rotateY(-20deg) translateX(0) scaleX(0.9) scaleY(0.9);
                    opacity: 0.7;
                }

                .element-three {
                    transform: perspective(300px) rotateY(-20deg) translateX(0) scaleX(0.9) scaleY(0.9);
                    opacity: 0.7;
                }
            }

            .slider-a input[value="two"]:checked ~ .slider-a-wrapper {
                transform: translateX(-20%);

                .element-one {
                    transform: translateX(0) perspective(300px) rotateY(20deg) scaleX(0.9) scaleY(0.9);
                    opacity: 0.7;
                }

                .element-three {
                    transform: perspective(300px) rotateY(-20deg) translateX(0) scaleX(0.9) scaleY(0.9);
                    opacity: 0.7;
                }

                .element-four {
                    transform: perspective(300px) rotateY(-20deg) translateX(0) scaleX(0.9) scaleY(0.9);
                    opacity: 0.7;
                }
            }

            .slider-a input[value="three"]:checked ~ .slider-a-wrapper {
                transform: translateX(-40%);

                .element-one {
                    transform: translateX(0) perspective(300px) rotateY(20deg) scaleX(0.9) scaleY(0.9);
                    opacity: 0.7;
                }

                .element-two {
                    transform: translateX(0) perspective(300px) rotateY(20deg) scaleX(0.9) scaleY(0.9);
                    opacity: 0.7;
                }

                .element-four {
                    transform: perspective(300px) rotateY(-20deg) translateX(0) scaleX(0.9) scaleY(0.9);
                    opacity: 0.7;
                }

                .element-five {
                    transform: perspective(300px) rotateY(-20deg) translateX(0) scaleX(0.9) scaleY(0.9);
                    opacity: 0.7;
                }
            }

            .slider-a input[value="four"]:checked ~ .slider-a-wrapper {
                transform: translateX(-60%);

                .element-two {
                    transform: translateX(0) perspective(300px) rotateY(20deg) scaleX(0.9) scaleY(0.9);
                    opacity: 0.7;
                }

                .element-three {
                    transform: translateX(0) perspective(300px) rotateY(20deg) scaleX(0.9) scaleY(0.9);
                    opacity: 0.7;
                }

                .element-five {
                    transform: perspective(300px) rotateY(-20deg) translateX(0) scaleX(0.9) scaleY(0.9);
                    opacity: 0.7;
                }
            }

            .slider-a input[value="five"]:checked ~ .slider-a-wrapper {
                transform: translateX(-80%);

                .element-three {
                    transform: translateX(0) perspective(300px) rotateY(20deg) scaleX(0.9) scaleY(0.9);
                    opacity: 0.7;
                }

                .element-four {
                    transform: translateX(0) perspective(300px) rotateY(20deg) scaleX(0.9) scaleY(0.9);
                    opacity: 0.7;
                }
            }

            /* Radio Buttons verstecken */
            input {
                display: none;
            }

            /* Navigation */
            .nav {
                position: absolute;
                bottom: 10px;
                left: 50%;
                transform: translateX(-50%);
                display: flex;
                gap: 10px;
            }

            .nav label {
                width: 20px;
                height: 20px;
                background: #4ea4874d;
                border-radius: 50%;
                cursor: pointer;
                opacity: 0.5;
            }

            /* aktiver Punkt */
            #s1:checked ~ .nav label[for="s1"],
            #s2:checked ~ .nav label[for="s2"],
            #s3:checked ~ .nav label[for="s3"],
            #s4:checked ~ .nav label[for="s4"],
            #s5:checked ~ .nav label[for="s5"] {
                opacity: 1;
                width: 30px;
                height: 20px;
                border-radius: 50%;
                background: #4ea487;
            }

            /* ####################################################### */

            /* .element-one {
                background-color: aquamarine;
            }

            .element-two {
                background-color: brown;
            }

            .element-three {
                background-color: goldenrod;
            } */

            /* .textarea {
                /* display: flex;
                justify-content: center; */
            /* .text {
                    height: 209px;
                    width: 343px;

                    p {
                        font-family: Palanquin;
                        color: rgba(84, 55, 13, 1);

                        line-height: 1.2;
                    }
                } */

            .list-sec {
                display: flex;
                justify-content: center;
            }

            .list {
                margin-top: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                margin-bottom: 90px;

                p {
                    font-family: Palanquin;
                    color: rgba(84, 55, 13, 1);
                    line-height: 1.2;
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
            }

            .list-ol {
                padding: 15px 25px 15px 25px;
            }

            li {
                font-family: Palanquin;
                line-height: 1.2;
                color: rgba(84, 55, 13, 1);
            }

            .bold {
                font-weight: bold;
            }

            .lorem {
                margin-bottom: 50px;
                display: flex;
                justify-content: center;

                p {
                    width: 100%;
                    font-family: Palanquin;
                    color: rgba(84, 55, 13, 1);
                }
            }

            /* ------------------------------------------------------------------------------------- */

            @media screen and (min-width: 768px) and (max-width: 1023px) {
                .list-sec {
                    width: 100%;

                    .list {
                        width: 100%;
                        margin-bottom: 10px;
                        margin-top: 50px;
                    }

                    .list-ol {
                        width: 100%;
                    }
                }

                .lorem {
                    width: 100%;
                    p {
                        width: 100%;
                    }
                }

                .follow-me-section {
                    h4 {
                        padding: 0;
                    }
                }
            }

            @media screen and (min-width: 1024px) {
                .list-p {
                    padding-left: 50px;
                    width: 100%;
                }

                .list-ol {
                    max-width: 1300px;
                }

                .follow-me-section {
                    h4 {
                        padding: 0;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    /* ------------------------------------------------------------------------------------- */
 body {
    main {
        padding-left: 30px;
        padding-right: 30px;
        .main-content {
            .photo-slider {
                .slider-a {
                    display: none;
                }
            }
        }
    }
}

    .slider-b {
        display: flex;

        justify-content: center;
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
    }

    .slider-b-element {
        width: 220px;
        height: 390px;

        z-index: 1;
        margin-left: -50px;
        margin-right: -50px;
        /* background-color: blueviolet; */

        transform: perspective(350px) rotateY(20deg) translateX(-20px);
        transform-origin: 50% 50%; /* Über die Mitte wird rotiert */

        transition: all 250ms ease-in-out;
    }

    .slider-b-element:hover {
        z-index: 2;

        /* background-color: aqua; */
        transform: perspective(250px) rotateY(0deg) translateX(0px) scaleX(1.2) scaleY(1.2);
    }

    .slider-b-element:hover ~ .slider-b-element {
        /* background-color: brown; */
        transform: perspective(250px) rotateY(-20deg) translateX(100px) scaleX(0.9) scaleY(0.9);
        opacity: 0.7;
    }

    .slider-b-element:has(~ .slider-b-element:hover) {
        transform: perspective(250px) rotateY(20deg) translateX(-90px) scaleX(0.9) scaleY(0.9);
        opacity: 0.7;
    }

    /* ------------------------------------------------------------------------------------- */
}

@media screen and (max-width: 768px) {
    main {
        .main-content {
            .photo-slider {
                .slider-b {
                    display: none;
                }
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    body {
        main {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .slider-b-element {
        width: 300px;
        height: 420px;
    }
}
