






/* ############################################################## */

/* VOR ÄNDERUNGEN IN DIESER DATEI TEAM-MEETING !! */

/* ############################################################## */













* {
    margin: 0; /* Alle Abstände auf null setzen */
    padding: 0;
    position: relative;
    box-sizing: border-box;
    color: inherit;
    font-size: inherit;
    scroll-behavior: smooth;
}

header {
    background-color: #4ea487;
    .header-content {
        /* position: absolute;
        width: 100%; */

        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 56px;
            height: 56px;
        }
    }
}

footer {
    background-color: #4ea487;
    height: 225px;
    width: 100%;

    .footer-content {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;

        padding-top: 30px;
        padding-left: 25px;
        padding-right: 25px;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        .footer-left {
            font-family: "Palanquin";
            font-size: 16px;
            width: 100%;
            max-width: 375px;

            color: white;
            line-height: 2;

            a {
                text-decoration: none;
            }
            .copyright {
                display: flex;
                align-items: center;
                gap: 5px;
            }
        }
        .footer-right {
            .social-links {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                gap: 10px;
            }
        }
    }

    .footer-navigation {
        background-color: #f1c953;
        height: 88px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        left: 0;
        bottom: 0;

        .footer-nav-bar {
            max-width: 375px;
            width: 100%;

            ul {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                list-style-type: none;
            }

            img {
                width: 40px;
                height: 40px;
            }
        }
    }
}

/* Zwei Graphiken nebeneinander platzieren */
@media screen and (min-width: 768px) {
    footer {
        height: 150px;

        .footer-content {
            width: 100%;
            padding-top: 50px;

            display: flex;
            align-items: center;
            justify-content: space-between;

            .footer-left {
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                gap: 20px;

                p {
                    font-size: 16px;
                }

                .copyright {
                    display: flex;
                    align-items: center;
                }
            }

            .footer-right {
                .social-links {
                    gap: 10px;
                }
            }
        }

        .footer-navigation {
            display: none;
        }
    }
}
