* {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    color: inherit;
    font-size: inherit;
    scroll-behavior: smooth;
}

.imprint-complete {
    max-width: 100dvw;
    min-height: 80dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: "Palanquin";
    font-weight: 600;
}

.headline p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
}

.headline {
    font-size: clamp(24px, 3vw, 48px);
}

footer {
    position: fixed;
    bottom: 0;
}

@media screen and (max-width: 767px) {
    min-height: 100%;
}
