/* ############################################################## */

/* CSS FILE FÜR INDEX.HTML */

/* ############################################################## */
/* Last Changes */
/* Responsiveness.... 

/* ############################################################## */

* {
    margin: 0; /* Alle Abstände auf null setzen */
    padding: 0;
    position: relative;
    box-sizing: border-box;
    color: inherit;
    font-size: inherit;
    scroll-behavior: smooth;
}

.content {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

/* Landing-page animation  --------------------- */

.text {
    position: absolute;
    top: 45%;
    left: 30%;
    transform: translate(-50%, -40%);

    z-index: 3;

    opacity: 0; /* text opacity */

    animation: fadeInText 6s ease-in-out forwards;

    max-width: 200px;

    h1 {
        font-family: "Arima";
        font-weight: 700;
        font-size: 36px;
        color: #54370d;
    } 

    p {
        font-family: "Palanquin";
        font-weight: 500;
        font-size: 18px;
        color: #54370d;
        line-height: 1;
    } 
}

@keyframes fadeInText {
   

    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}



.slider {
    padding-left: 0;
    padding-right: 0;
    min-height: calc(100dvh - 158px); /* 88px + 70px = 158px = Höhe minus header height und fixed Bottom Nav */

    position: relative;
    width: 100%;
    height: 400px;
    background: #F1C953;
    overflow: hidden;
}

.img {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;
    will-change: transform;
}

.img1 {
    width: 100%;
    height: 100%;
    z-index: 1;
    transform: translateX(100%);
    animation: slideIn 1s ease-out forwards;
    /* animation-delay: 1.5s; */
    animation-delay: 2s;
}

@keyframes slideIn {
    to {
        transform: translateX(0);
    }
}

.img2 {
    height: 98%;
    z-index: 2;
    transform: translateX(100%);
    animation: slideOverlay 2s ease-out forwards;
    /* animation-delay: 1.5s; */
    animation-delay: 2s;
}

@keyframes slideOverlay {
    0% {
        transform: translate(100%, 0);
    }

    30% {
        transform: translate(0, 0); /* im Viewport */
    }

    50% {
        transform: translate(-10%, 0); /*  nach links raus */
    }

    70% {
        transform: translate(-10%, 0); /*  Pause */
    }

    100% {
        transform: translate(-40%, -40%); /* nach oben links */
    }
}




  

.img3 {
    position: absolute;
    left: 180px;
    top: 240px;
    z-index: 4;
    opacity: 0; /* Icon unsichtbar machen */
    /* transition: opacity 0.5s ease; */

    animation: fadeInIcon 2s ease-in forwards;
    animation-delay: 6s;
}

@keyframes fadeInIcon {
    to {
        opacity: 1;
    }
}

/* Landing-page animation Ende  --------------------- */

main {
    .content {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        /* padding-left: 10px;
        padding-right: 10px; */

        .headline {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            padding-top: 50px;
            padding-bottom: 20px;
            h2 {
                font-family: "Arima";
                font-size: 40px;
                font-weight: 700;
                line-height: 1.2;
                color: #4ea487;
            }
        }

        /* HIGHLIGHT SECTION START  --------------------- */

        .highlight-section {
            padding-left: 10px;
            padding-right: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .highlights-slider {
                position: relative;
                width: 100%;
                max-width: 300px;
                height: 500px;
                /* overflow: hidden; */

                /* Bilder übereinander */
                .slides {
                    position: relative;
                    width: 100%;
                    height: 100%;
                }

                .slide {
                    position: absolute;
                    inset: 0;
                    display: block;

                    opacity: 0; /* Bilder unsichtbar machen */
                    transition: opacity 0.5s ease;

                    pointer-events: none; /* Damit nur das aktive Bild klickbar ist */

                    img {
                        width: 100%;
                        height: 100%;
                        /* object-fit: cover; */
                    }
                }
                .caption {
                    position: absolute;
                    top: 20%;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 260px;
                    color: white;

                    border-left: white solid 1px;
                    border-right: white solid 1px;

                    background: rgba(255, 255, 255, 0.2);
                    backdrop-filter: blur(50px);
                    padding: 12px 18px;
                    border-radius: 10px;
                    h4 {
                        font-family: "Palanquin Dark";
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 1;
                        color: #ffffff;
                        text-align: left;
                        padding-top: 0;
                    }

                    p {
                        padding-top: 10px;
                        font-family: "Palanquin Dark";
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 1;
                        color: #ffffff;
                    }
                }
                /* Radio Buttons verstecken */
                input {
                    display: none;
                }

                /* Aktives Bild anzeigen */
                #s1:checked ~ .slides .slide:nth-child(1),
                #s2:checked ~ .slides .slide:nth-child(2),
                #s3:checked ~ .slides .slide:nth-child(3) {
                    opacity: 1;
                    pointer-events: auto; /* Aktives Bild klickbar machen */
                }

                /* Navigation */
                .nav {
                    position: absolute;
                    bottom: 30px;
                    left: 50%;
                    transform: translateX(-50%);
                    display: flex;
                    gap: 10px;
                }

                .nav label {
                    width: 20px;
                    height: 20px;
                    background: #ffffff;
                    border-radius: 50%;
                    cursor: pointer;
                    opacity: 0.5;
                }

                /* aktiver Punkt */
                #s1:checked ~ .nav label[for="s1"],
                #s2:checked ~ .nav label[for="s2"],
                #s3:checked ~ .nav label[for="s3"] {
                    opacity: 1;
                    width: 30px;
                    height: 20px;
                    border-radius: 50%;
                    background: #f1c953;
                }
            }
        }

        /* HIGHLIGHT SECTION ENDE  --------------------- */

        /* FAQ SECTION START  --------------------- */

        .faq-section {
            padding-left: 10px;
            padding-right: 10px;

            .dropdown {
                font-family: "Palanquin";
                font-weight: 400;
                font-size: 16px;
                line-height: 1;
                color: #54370d;

                background: #f1c953;
                padding: 16px;
                margin-bottom: 20px;
                border-radius: 12px;
                max-width: 1000px;

                margin-left: auto;
                margin-right: auto;
            }

            .content {
                margin-top: 10px; /* Margin der content box */
            }

            .content p {
                /* Content Formatierung */
                background: #eee;
                padding: 12px;
                border-radius: 8px;
            }

            summary {
                /* Frage-Text */
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            summary::after {
                content: "⬇";
                transition: transform 0.3s;
            }

            details[open] summary::after {
                transform: rotate(90deg);
            }
        }
        /* FAQ SECTION ENDE */

        /* CONTACT FORM SECTION START  --------------------- */

        .contact-form {
            max-width: 900px;
            margin: auto;
            padding-left: 10px;
            padding-right: 10px;
            /* font-family: "Palanquin";
            font-weight: 400;
            font-size: 24px;
            line-height: 1; */

            margin-bottom: 50px;

            p {
                padding: 0;
                padding-bottom: 20px;

                background-color: white;
                font-size: 16px;
            }
        }

        .contact-form label {
            display: block;
            margin-bottom: 25px;
            font-family: "Palanquin";
            font-weight: 400;
            font-size: 24px;
            color: #54370d;
        }

        .contact-form input,
        .contact-form textarea {
            width: 100%;
            border: none;
            border-bottom: 1px solid #5a3d14;
            background: transparent;
            padding: 8px 0;
            font-size: 16px;
            outline: none;
        }

        /* Checkbox */
        .checkbox {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            text-align: center;
            line-height: 1;
            flex-direction: column;
            span {
                font-size: 15px;

                a {
                    color: #4ea487;
                    text-decoration: none;
                }
            }
        }

        .checkbox input {
            width: 16px;
            height: 16px;
            margin-top: 3px;
        }

        /* Button */
        .contact-form button {
            display: block;
            margin: 30px auto 0;
            padding: 12px 30px;
            border-radius: 25px;
            border: 1px solid #999;
            background: transparent;
            font-family: "Arima";
            font-weight: 700;
            font-size: 24px;
            cursor: pointer;
            color: #737373;
        }

        .contact-form button:hover {
            background: #f1f1f1;
        }
    }
}
/* CONTACT FORM SECTION ENDE  --------------------- */

@media screen and (min-width: 512px) {
    main {
        .content {
            /* .highlight-section {
                .highlights-slider {
                    position: relative;
                    width: 100%;
                    max-width: 300px;
                    height: 500px;
             

              

                    .slide {
                        img {
                            width: 100%;
                            height: 100%;
                         
                        }
                    }
                }
            } */

            .contact-form {
                p {
                    font-size: 24px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
                /* NAME UND EMAIL NEBENEINANDER AB 768px */
                .contact-form-name-email {
                    display: flex;
                    justify-content: space-between;
                    gap: 50px;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    main {
        .content {
            .highlight-section {
                .highlights-slider {
                    width: 100%;
                    max-width: 700px;
                    height: 350px;

                    .caption {
                        top: 10%;

                        width: 500px;
                    }

                    img {
                        width: 100%;
                        object-fit: fill;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1000px) {
    main {
        .content {
            .highlight-section {
                .highlights-slider {
                    max-width: 1000px;
                    height: 500px;
                }
            }
        }
    }
}
