* {
    margin: 0; /* Alle Abstände auf null setzen */
    padding: 0;
    position: relative;
    box-sizing: border-box;
    color: inherit;
    font-size: inherit;
    scroll-behavior: smooth;
}




